body {
    font-family: sans-serif;
    font-size: 12px;
    max-width: 500px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.lineinline {
    font-family: aoto;
    background-color: #f5f5f5 !important;
    border: 0.5px solid #ccc !important;
    padding: 0 5px !important;
    border-radius: 3px !important;
    display: inline-block;
    margin: 0px 4px;
}

textarea,input[type=text]{
    font-family:auto;
    max-width: -webkit-fill-available;
}

label,h3,a,details>summary{
    user-select: none;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px;
}

/* 设置不被禁用的按钮的hover效果 */
button:not([disabled]):hover {
    background-color: #ededed;
}

button,
select,
input[type=text] {
    background-color: transparent;
    border-color: rgb(191, 191, 191);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    color: black;
}

input[type=checkbox] {
    margin-bottom: 1px;
    cursor: pointer;
}

button:active {
    border-color: rgb(237, 237, 237);
}

button:focus {
    border-color: black;
    background-color: #fefefe;
}

label,
input {
    align-self: center;
}

input[type="number"] {
    max-width: 50px;
}

select {
    min-height: 22px;
    max-height: 22px;
}

h3 {
    padding-left: 8px;
    padding-top: 10px;
    margin-top: 4px;
    min-height: 28px;
}

h3 a {
    padding-left: 5px;
}

.buttons {
    white-space: nowrap;
}

.profiles {
    float: right;
    margin-right: 12px;
    position: relative;
    top: 3px;
    max-width: calc(100% - 115px);
}

.help-icon {
    vertical-align: middle;
    display: inline-block;
    margin-left: 3px;
}

img{
    border-radius: 0.4em;
}

/* <element class="help-icon">
  <img> */
.help-icon>img {
    border-radius: 50%;
    border: 1px black solid;
    opacity: .2;
    width: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 8px;
    transition: opacity;
    transition-duration: 200ms;
    cursor: pointer;
}

.help-icon>img:hover {
    opacity: .4;
}

.help-content {
    margin-top: 4px;
    margin-left: 8px;
    margin-bottom: 12px;
    border: 1px #bfbfbf dotted;
    border-radius: 4px;
    padding: 2px;
    background-color: #fffdde;
    line-height: 1.6em;
}

.regexpContainer .help-content{
    margin-left: 0px;
}

.help-content img {
    max-width: 60%;
    margin-left: 6px;
}

.help-content code {
    font-family: aoto;
    background-color: #f5f5f5 !important;
    border: 0.5px solid #ccc !important;
    padding: 0 5px !important;
    border-radius: 3px !important;
    display: inline-block;
    margin: 0px 4px;
}

.help-content a {
    padding: 0px;
}

.help-content p {
    margin: 6px;
}

.help-content ul {
    margin: 4px;
    padding-left: 25px;
}

.help-content li {
    margin: 2px;
}

/* 提示信息 */

.help-content .warning {
    font-weight: bold;
    color: #ed0000;
}

.help-content.notify {
    margin-left: 0;
    margin-bottom: 10px;
}

.help-block {
    border: 1px dashed;
    margin: 10px;
}

/* 显示进度条 */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #dddddd00;
}

::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
    background: #dddddd00;
}

::-webkit-scrollbar-button:hover {
    background: #d1d1d188;
}

::-webkit-scrollbar-thumb {
    background: #cccccc88;
}

::-webkit-scrollbar-thumb:hover {
    background: #88888888;
}

::-webkit-scrollbar-track {
    background: #dddddd00;
}

.profiles button {
    padding: 0;
    margin: 0;
    width: 22px;
    text-align: center;
}

.profiles button,
.profiles select {
    height: 22px;
    vertical-align: top;
}

.profiles button:disabled {
    opacity: .25;
}

.profiles button>img {
    width: 14px;
    height: auto;
    vertical-align: middle;
    padding: 2px;
    box-sizing: content-box;
}

details {
    color: #555;
    margin-left: 6px;
    margin-right: 12px;
    margin-bottom: 4px;
    border-top: #bfbfbf 1px dashed;
}

details>summary {
    color: black;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 6px;
    cursor: pointer;
    outline: none;
}

details[open]>summary {
    cursor: pointer;
}

a {
    display: inline-block;
    padding-top: 5px;
    color: #00458b;
}

.option:not([hidden]) {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    padding-left: 8px;
    padding-bottom: 2px;
    min-height: 24px;
}

.option:not([hidden]):hover{
    color: black;
}

.option.vertical {
    flex-direction: column;
}

.option.vertical label {
    align-self: flex-start;
}

.option.vertical input:not([type="checkbox"]) {
    margin-top: 4px;
    align-self: flex-end;
    width: calc(100% - 6px);
    margin-bottom: 2px;
    padding: 2px;
}

.option.horizon{/* 完善正则表达式 CheckBox 与标签的水平对齐 */
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    padding-left: 0px;
}

.option:last-of-type {
    padding-bottom: 12px;
}

.option:first-of-type {
    padding-top: 6px;
}

/* 展开所有 */
#expandAllButton {
    font-family: monospace;
    display: inline-block;
    min-width: 7px;
    max-width: 7px;
    margin-left: 5px;
    opacity: .4;
    transition: opacity 250ms;
    cursor: pointer;
    font-size: 1.1em;
    position: relative;
    top: -1px;
    left: -2px;
}

#expandAllButton::after {
    content: '+';
}

#expandAllButton.opened::after {
    content: '-';
}

#expandAllButton:hover {
    opacity: 1;
}

/* 提示 */
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(191, 191, 191, .75);
    display: none;
}

.popup-content {
    align-self: center;
    width: 90%;
    max-width: 320px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 5px 5px #ababab;
}

.popup-content header {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

.popup-content main {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.popup-content main input {
    margin-bottom: 10px;
    padding: 2px;
    font-size: 13px;
    margin-left: 0px;
    width: calc(100% - 16px);
}

.popup-content footer {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.popup-content footer button {
    margin-bottom: 10px;
}

/* maximized */
.maximized body {
    margin-top: 8px;
}

.maximized main {
    margin: 0px;
    border: solid 1px rgb(191, 191, 191);
    background-color: #fbfbfb;
}

html.maximized {
    background-color: #f0f0f0;
}

.maximized .profiles {
    top: -4px;
    max-width: calc(100% - 90px);
}

.maximized #helpLabel {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0;
}

@media (max-width:400px) {
    body,
    input,
    select,
    button {
        font-size: 11px;
    }
}

/* prefers-color-scheme用于检测用户是否有将系统的主题色设置为亮色或者暗色。 */
@media (prefers-color-scheme: dark) {

    details {
        color: #ccc;
    }

    html {
        background-color: #202023;
    }

    html.maximized {
        background-color: #373737;
    }

    main,
    .maximized main,
    details>summary,
    button,
    select,
    .popup-content {
        background-color: #202023;
        color: #fdfdfd;
    }

    .maximized main {
        border-color: rgb(81, 81, 81);
    }

    .profiles button img:hover {
        filter: invert(0%);
    }

    .profiles button[disabled] {
        opacity: .4;
    }

    .profiles button[disabled] img {
        filter: invert(50%);
    }

    .help-icon>img {
        opacity: .6;
        border-color: #ccc;
    }

    .help-icon>img:hover {
        opacity: .8;
    }

    input[type="text"] {
        background-color: #fff;
    }

    button:not([disabled]):hover {
        color: #2A2A2E;
    }

    button:focus {
        color: black;
        border-color: black;
        background-color: #d2d2d2;
    }

    .help-content {
        background-color: rgb(85, 85, 97);
    }

    a,
    a:visited {
        color: white;
    }

    .popup {
        background-color: rgba(59, 59, 59, 0.95);
    }

    .popup-content {
        box-shadow: 5px 5px #000000;
    }

}
