/*正文外*/
body{ background: #f6f7f9 !important; }
/*正文*/
.app_content {
    background: #ffffff !important;
}
/*顶部*/
.readerTopBar{
    background: #ffffff !important;
}
/*下一章*/
.readerFooter_button{
    background: #f6f7f9 !important;
}
/*目录*/
.readerCatalog{
    background: #ffffff !important;
}
/*目录、标注等按钮*/
.readerControls_item{
    background: #fffffe !important;
}
/*字体大小按钮*/
.readerControls_fontSize{
    background: #fffffe !important;
}
/*字号选择展开后的背景*/
.fontSizeButton_bg{
    background: #ffffff !important;
}
/*搜索*/
.readerCatalog_searchBar_left{
    background: #f6f7f9 !important;
}
/*标注*/
.readerNotePanel{
    background: #f6f7f9 !important;
}
/*下载APP二维码*/
.download_dialog_content{background: #ffffff !important;}