/*正文外*/
body{ background: #17181a !important; }

.app_content,/*正文*/
.wr_decoration.wr_readerBackground_opacity,
.readerTopBar,/*顶部*/
.readerCatalog,/*目录*/
.readerNotePanel/*标注*/
{
    background: #1f2022 !important;
}
/*下一章*/
.readerFooter_button{
    background: #363739 !important;
}

.readerControls_item,/*目录、标注等按钮*/
.readerControls_fontSize/*字体大小按钮*/
{
    background: #27282a !important;
}
/*字号选择展开后的背景*/
.fontSizeButton_bg{
    background: #323234 !important;
}
/*搜索*/
.readerCatalog_searchBar_left{
    background: #353638 !important;
}
/*下载APP二维码*/
.download_dialog_content{background: #303030 !important;}