/*正文外*/
body,
.readerFooter_button,/*下一章*/
.readerCatalog_searchBar_left,/*搜索*/
.readerNotePanel/*标注*/
{ background: #f6f7f9 !important; }

.app_content, /*正文*/
.wr_decoration.wr_readerBackground_opacity, /* 处理某些只包含 canvas 的页面上背景色不生效的问题 */
.readerTopBar, /*顶部*/
.readerCatalog, /*目录*/
.fontSizeButton_bg, /*字号选择展开后的背景*/
.download_dialog_content /*下载APP二维码*/
{
    background: #ffffff !important;
}

.readerControls_item,/*目录、标注等按钮*/
.readerControls_fontSize/*字体大小按钮*/
{
    background: #fffffe !important;
}

/* 读书信息“更多” */
.wr_whiteTheme .bookReviewList_item .content_Normal.hasMore:after, .wr_whiteTheme .reader_topReview_item .content_Normal.hasMore:after,
.wr_whiteTheme .bookInfo_intro.hasMore:after{
	background: linear-gradient(90deg, rgba(31, 32, 34, 0), rgb(246 247 249) 50%, rgb(246 247 249)) !important;
}