/*双栏阅读下的额外样式*/
.wr_canvasContainer {
    background: transparent !important;
}

.readerChapterContent_container {
    background-color: #BEE5C5 !important;
}

.wr_whiteTheme .wr_horizontalReader .readerChapterContent {
    background-color: #C7EDCC;
}

div.readerTopBar {
    background-color: #BEE5C5 !important;
}

#searchNoteInput {
    border-radius: 16px;
}
