/* 笔记目录 */
#noteTools button {
    color: #212832 !important;
}

#noteTools li a {
    color: #000 !important;
}

/* 主题按钮、进度按钮 */
.readerControls_item.theme, .theme-switch-left, #progressText {
    color: rgb(0,0,0) !important;
}
