> - ![{{metaData.title}}]({{metaData.cover}})
> - 书名：{{metaData.title}}
> - 作者：{{metaData.author}}{% if metaData.translator %}
> - 译者：{{metaData.translator}}{% endif %}
> - 简介：{{metaData.intro}}
> - 出版时间：{{metaData.publishTime}}
> - ISBN：{{metaData.isbn}}
> - 分类：{{metaData.category}}
> - 出版社：{{metaData.publisher}}
> - 总字数：{{metaData.totalWords}}