pre.wr_absolute:hover + cc,
img.wr_absolute:hover+cl,
.reader_footerNote_text:hover+cn{
    display: block;
}
cn{
    font-size: 1rem;
}
cl:hover,
cc:hover,
cn:hover{
    display: block;
}
cl,cc,cn{
    display: none;
    cursor:pointer;
    z-index:4;
}