:root{
    --whiteColor: #5d646e;
    --darkColor: #b2b4b8;
}

.m_shelf_admin {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: center;
    margin: 0px;
    background: inherit;
    border-bottom: 1px solid #ebedf1;
    padding: 0.5rem 30px;
}

.m_shelf_admin>a{
    padding: 5px 0; 
    margin-right:10px; 
    cursor: pointer; 
    color: var(--whiteColor);
}

.m_shelf_admin>a:not(.m_webook_shelf_admin){
    display: none;
}

.shelf_download_app {
    display: none;
}

.m_webook_shelf_checkbox{
    padding: 5px 0px; 
    align-items: center; 
    justify-content: center;
}

.m_webook_shelf_checkbox>input{
    cursor: pointer;
}

body:not(.wr_whiteTheme) .m_shelf_admin{
    border-color: rgba(238,240,244,.1);
}
body:not(.wr_whiteTheme) .m_shelf_admin>a{
    color: var(--darkColor);
}