body{
    background-color: #F5F5F0;
}

a{
    text-decoration: none;
    color: #576b95;
    font-weight: bold;
}

#webook_mp_scroll{
    margin: 0rem auto 3rem;
    width: 25rem;
    padding: 0.3125rem; 
    font-size: 0.875rem; 
    display: flex; 
    flex-direction: column;
}

.readerTopBar {
    font-size: initial;
    position: sticky;
    box-shadow: 0 0 2px #aaa;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 24rem;
    padding: 0.5rem;
    margin: 3rem auto 1rem;
    background-color: #F5F5F0;
}

#webook_mp_list{
    display: flex; 
    flex-direction: column; 
    text-align: left;
}

.webook_mp_item {
    box-shadow: 0 0 2px #aaa;
    margin: 0.5rem 0rem 1rem;
    border-radius: 0.4rem;
    flex-direction: row; 
    justify-content: space-between;
}

/* 头图容器 */
div.cover{
    border-radius: 0.4rem;
}
/* 头图 */
div.cover>img{
    height: 10.625rem;
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    object-fit: cover;
}

.mp-meta{
    padding: 0.6rem;
}
.mpContent,
.createTime{
    display: inline-block;
    margin-top: 0.3125rem;
    color: #9e9e9e; 
    font-size: 0.75rem; 
}

#webook_mp_load_more{
    box-shadow: 0 0 2px #aaa;
    cursor: pointer; 
    text-align: center;
    background-color: #F5F5F0; 
    border-radius: 0.4rem; 
    font-weight: bold; 
    padding: 0.5rem; 
    margin: 1rem 0;
}

.mp-meta.sametime{
    display: flex;
    justify-content: space-between;
}
.thumdnail{
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 0.1875rem;
    object-fit: cover;
    margin-left: 0.625rem;
}